<ion-view view-title="Change Password">
  <ion-content padding="true" class="has-header">

    <form name="myForm">
      <label class="item item-input item-stacked-label">
          <span class="input-label">Old Password</span>
          <div style="color:red" ng-show="myForm.oldpw.$dirty && myForm.oldpw.$error.required">
              Password is required
          </div>
          <input type="password" placeholder="" name="oldpw" ng-model="info.oldpw" required>

      </label>
      <label class="item item-input item-stacked-label">
          <span class="input-label">New Password</span>
          <div style="color:red" ng-show="myForm.password.$dirty && myForm.password.$error.required">
              Password is required
          </div>
          <input type="password" placeholder="" name="password" ng-model="info.newpw" required>
      </label>
      <label class="item item-input item-stacked-label">
          <span class="input-label">Retype New Password</span>
          <div style="color:red" ng-show="myForm.password2.$dirty && myForm.password2.$error.compareTo">
          Incorrect password
          </div>
          <input type="password" placeholder="" name="password2" ng-model="info.newpw2" required compare-to="info.newpw">
      </label>
      <button class="button button-balanced button-block" ng-disabled="myForm.$error.required || myForm.$error.compareTo" ng-click="sendPW()" style="border-radius: 18px;">Submit</button>
    </form>
  </ion-content>

</ion-view>