<ion-view view-title="RideSharing Culture">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <h1>RideSharing Culture</h1>
 
<div class="item item-divider">What is RideSharing?</div>
<div class="item item-text-wrap">RideSharing is an idea of sharing rides with others. As many private cars have unoccupied seats, offering these seats to passengers can help ease the tension of road usage. The utilization of resources can promote green living and ease the tension of road usage.</div>

<div class="item item-divider">Why is this app developed?</div>
<div class="item item-text-wrap">The idea of ride-sharing has been suggested for years, yet the lack of ride-sharing platform leads to difficulties in bringing this culture into practice. Concerning this issue, this application is developed to serve as a platform for ridesharing.</div>

<div class="item item-divider">What is this app for?</div>
<div class="item item-text-wrap">This application is specially designed for the HKUST community to share their ride freely. It aims at help solving the problem of long queues at bus stops during peak hours and shortening people's journey time. With this application, drivers and passengers who are going to travel between HKUST and Choi Hung/ Hang Hau can be matched and share their rides.</div>
 
<div class="item item-divider">How to use this app:</div>
<div class="item item-text-wrap">You can offer rides using the driver app or requests for rides using the passenger app. You can set your requirement according to your needs, and then wait for matches.
After being matched, notification will be made. When you want to pick up passengers or verify the driver, you can done it by showing your smartphone screen with the matching icon for identification since matched driver and passengers will share the same matching icon.</div>
 
<div class="item item-text-wrap"><pre>
  For the passengers, please
- Be polite
- Keep the car clean
- Do not eat or drink in car
- Do not annoy the driver
 
For the drivers, please
- Be polite
- Ensure a safe drive
- Provide a comfortable environment for your passengers
- Do not texting or talking on phone during ride
</pre>
</div>
 
 
 
 



  </ion-content>

</ion-view>