<ion-view view-title="Found a match" hide-back-button="true">
<ion-content>
<div class="list card">

  <div class="item" >
  	<center style="font-size: 40px"><i class="icon ion-model-s"></i>
      
      AB 123
    </center>

  </div>

  <div class="item item-divider">
   <center>departing in</center>
 </div>

 <div class="item" >
   <center style="font-size: 40px"><i class="icon ion-ios-time-outline"></i>
    
   	7 minutes
   </center>

 </div>

 <div class="item item-divider" >
   <center>from</center>
 </div>

 <div class="item">
   <center style="font-size: 20px">
    
   	North Point MTR Station Exit B
   </center>

 </div>


</div>




</ion-content>
<ion-footer-bar class="bar-balanced">

<h1 class="title">Accept</h1>

</ion-footer-bar>

</ion-view>
