<ion-view view-title="Go Home">
  <ion-content padding="true" class="has-header gohome">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>



  <div class="control-panel"><br><br><br><center><h4 style="color: white">What is your destination?</h4></center><br><br><br></div>


  <br>
  <div class="animated slideInUp">
    <div class="item item-icon-left ChoiHung" ng-click="ready('Choi Hung')">
      <i class="icon ion-android-train"></i>
      <!-- <span class="badge badge-assertive">{{statistics.chCount}}</span> -->
      <location-display info="true" location="Choi Hung">Choi Hung</location-display>
    </div>

    <div class="item item-icon-left HangHau" ng-click="ready('Hang Hau')">
      <i class="icon ion-android-train"></i>
      <!-- <span class="badge badge-assertive">{{statistics.hhCount}}</span> -->
      <location-display info="true" location="Hang Hau">Hang Hau</location-display>
    </div>

    <div class="item item-icon-left" ng-click="ready('To Be Confirmed')">
      <i class="icon ion-android-train"></i>
      Any MTR station
    </div>
  </div>



  </ion-content>
</ion-view>