<ion-view view-title="Matching in Progress">
  <ion-content>
<div class="list card">

  <a href="#" class="item" >
  	<center style="font-size: 40px">
  
   	Found a match
   	</center>

  </a>

  <a href="#" class="item item-divider">
	<center>departing in</center>
  </a>

  <a href="#" class="item" >
  	<center style="font-size: 40px"><i class="icon ion-ios-time-outline"></i>
  
   	7 minutes
   	</center>

  </a>

    <a href="#" class="item item-divider" >
	<center>from</center>
  </a>

    <a href="#" class="item">
  	<center style="font-size: 20px">
  
   	North Point MTR Station Exit B
   	</center>

  </a>


</div>




  </ion-content>
  <ion-footer-bar class="bar-balanced">

  <h1 class="title">Accept</h1>

</ion-footer-bar>

</ion-view>
