<ion-view view-title="Go To HKUST">
<ion-content padding="true" class="has-header goust">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>



<div class="control-panel"><br><br><br><center><h5 style="color:white">Which MTR station will you pass through?</h5></center><br><br><br></div>

<br>
<div class="animated slideInUp">
  <div class="item item-icon-left ChoiHung" ng-click="ready('Choi Hung')">
    <i class="icon ion-android-train"></i>
    <!-- <span class="badge badge-assertive">0</span> -->
    <location-display info="false" location="Choi Hung">Choi Hung</location-display>
  </div>

  <div class="item item-icon-left HangHau" ng-click="ready('Hang Hau')">
    <i class="icon ion-android-train"></i>
    <!-- <span class="badge badge-assertive">0</span> -->
    <location-display info="false" location="Hang Hau">Hang Hau</location-display>
  </div>

</div>





</ion-content>
</ion-view>