<ion-view view-title="Setting ( {{username}})">
  <ion-content>
                <ion-list>
                    <ion-toggle toggle-class="toggle-calm" ng-change="saveSettings(setting.sameGender);" ng-model="setting.sameGender">Prefer same gender</ion-toggle>
             
                    <ion-item ng-click="changePW()">Change your password</ion-item>
                    <ion-item ng-click="ridesharing()">Riding sharing culture</ion-item>
                </ion-list>
                <button class="button button-assertive button-block" ng-click="logout()">Logout</button>
  </ion-content>
</ion-view>
