<ion-view view-title="Ride Confirmed" hide-back-button="true">
<ion-content>
<div class="list card">

  <div class="item" >
  	<center style="font-size: 30px"><i class="icon ion-model-s"></i>
      
      {{licence}}
    </center>

  </div>

  <div class="item item-divider">
    <center>towards</center>
  </div>

  <div class="item" >
    <center style="font-size: 30px">
      {{destination}}
      
    </center>

  </div>

  

  <div class="item item-divider">
   <center>departing in</center>
 </div>

 <div class="item" >
   <center style="font-size: 30px"><i class="icon ion-ios-time-outline" ng-init="calcTime(); countdown();"></i>
    
   	<timer time="targetTime" context="'matchToHome'" ng-init="calcTime(); countDown();"></timer>
   </center>

 </div>

 <div class="item item-divider">
   <center>from</center>
 </div>

 <div class="item" >
   <center style="font-size: 20px">
    
   	{{location}}
   </center>


 </div>




</div>


<div class="list card">
 <div class="item item-divider">
  <center>Verification Code</center>
</div>
<div class="item">
  <center><img ng-src="{{imglocation}}" width="200"></center>
</div>

</div>




</ion-content>
<ion-footer-bar class="bar-assertive" ng-click="cancel()" ng-if="!finishedCount && (confirmationTime!=0)">

<h1 class="title" ng-click='cancel()'>Cancel <span class="badge badge-assertive">{{confirmationTime}}</span></h1>


</ion-footer-bar>

<ion-footer-bar ng-if="finishedCount">

<div class="button-bar">
  <a class="button button-balanced" ng-click="goBack()">Finish</a>
  <a class="button button-assertive" ng-click="cancelOption()">Cancel</a>
</div>

</ion-footer-bar>

</ion-view>

