<ion-view view-title="Ride Confirmed" hide-back-button="true">
<ion-content ng-class="{'goust': destination === 'HKUST', 'gohome': destination!=='HKUST'}" padding="true">





<div class="row info-panel">
  <div class="col col-50">
    <img ng-src="{{imglocation}}" class="match-icon" width="100%">
  </div>
  <div class="col col-50">
    <br>
      <center style="font-size: 30px; color: #ef4e3a"><i class="icon ion-model-s"></i> {{licence}}</center>


   
    
  
   <br> 
    <center style="font-size: 20px; color: #444">towards</center>
    <br>
    
      <center style="font-size: 30px; color: #ef4e3a;">{{destination}}</center>

    
   

    
  </div>
  
</div>

  <div class="list">
    <div class="item match">
    <center>departing in</center>
    </div>

    <div class="item item-divider important-label" >
      <center><i class="icon ion-ios-time-outline" ng-init="calcTime(); countdown();"></i>
    
      <b><timer time="targetTime" class="animated pulse infinite" ng-init="calcTime(); countDown();"></timer></b>
      </center>

    </div>
    <div class="item match">
  <center>from</center>
  </div>

    <div class="item item-divider important-label">
    <center><i class="icon ion-flag"></i>
    {{location}}
    </center>

  </div>

  </div>


</ion-content>
<ion-footer-bar class="bar-assertive" ng-click="cancel()" ng-if="!finishedCount && (confirmationTime>0)">

<h1 class="title" ng-click='cancel()'>Cancel <span class="badge badge-assertive">{{confirmationTime}}</span></h1>


</ion-footer-bar>

<ion-footer-bar ng-if="finishedCount">

<div class="button-bar">
  <button class="button button-balanced" style="border-radius: 10px;" ng-click="goBack()">Riding</button>
  <button class="button button-assertive" style="border-radius: 10px;" ng-click="cancelOption()">No show</button>
</div>

</ion-footer-bar>

</ion-view>

