<ion-view view-title="Go Home">
            <ion-content padding="true" class="has-header">


<div class="list card">

    <div class="item item-divider"><br><br><br><center><h2>What is your destination?</h2></center><br><br><br></div>

  <a href="#" class="item item-icon-left" ng-click="ready()">
    <i class="icon ion-android-train"></i>
    Choi Hung
    <span class="badge badge-assertive">0</span>
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-android-train"></i>
    Hang Hau
    <span class="badge badge-assertive">0</span>
  </a>

  <a href="#" class="item item-icon-left">

    Sai Kung
    <span class="badge badge-assertive">0</span>
  </a>



</div>
            </ion-content>
</ion-view>