<ion-view view-title="Go To HKUST">
<ion-content padding="true" class="has-header goust">




<div class="control-panel"><br><br><br><center><h5 style="color:white">Which MTR station will you pass through?</h5></center><br><br><br></div>

<br>
<div class="animated slideInUp">
  <a href="#" class="item item-icon-left" ng-click="ready('Choi Hung')">
    <i class="icon ion-android-train"></i>
    Choi Hung
    <span class="badge badge-assertive">0</span>
  </a>

  <a href="#" class="item item-icon-left" ng-click="ready('Hang Hau')">
    <i class="icon ion-android-train"></i>
    Hang Hau
    <span class="badge badge-assertive">0</span>
  </a>

</div>





</ion-content>
</ion-view>