<ion-view view-title="Matching in Progress" hide-back-button="true">
<ion-content padding="true" ng-class="{'goust': destination === 'HKUST', 'gohome': destination!=='HKUST'}">
<!-- <div class="list card" ng-if='searching'> -->


<div class="info-panel" ng-if='searching'>
  <br>
  <div>
   <center style="font-size: 20px">Your destination is</center>
 </div>
<br>
 <div>
  
  <center class="itemlabel">

    {{destination}}
  </center>
  

</div>
<br>
<div>
	<center style="font-size: 20px">from</center>
</div>
<br>
<div>
 <center ng-if="pickUp!='No Preference'" class="itemlabel">

  {{pickUp}}
</center>
<center ng-if="pickUp=='No Preference'" class="itemlabel">

  TBC
</center>

</div>
<br>

</div>

<div ng-if="!searching">

 <div class="item match item-divider animated swing infinite" >
  <center>

    Found a match
  </center>

</div>

<br>
<div class="info-panel">
  <br>
<div>
  <center class="itemlabel"><i class="icon ion-model-s"></i>

    {{licence}}
  </center>

</div>
<br>
<div>
  <center style="font-size: 20px">departing in</center>
</div>
<br>
<div>
  <center style="font-size: 30px" class="itemlabel"><i class="icon ion-ios-time-outline"></i>

    {{ridetime}} minutes
  </center>

</div>
<br>
<div>
  <center style="font-size: 20px">from</center>
</div>
<br>
<div >
  <center style="font-size: 20px" class="itemlabel">

    {{pickUp}}
  </center>

</div>
<br>
</div>


</div>

<br>
<br>

<center><ion-spinner class="spinner-positive" ng-init="testing()" ng-if='searching'></ion-spinner></center>

<center style="font-size: 30px" ng-if='!searching'>{{countDownTime}} sec to accept </center>



</ion-content>

<ion-footer-bar class="bar-assertive" ng-click="goBack()" ng-if="searching">

<h1 class="title">Cancel</h1>

</ion-footer-bar>
<ion-footer-bar ng-if="!searching">
<div class="button-bar">
  <button class="button button-balanced" style="border-radius: 15px" ng-click="confirm()">Accept</a>
  <button class="button button-assertive" style="border-radius: 15px" ng-click="goBack()">Cancel</a>
</div>
</ion-footer-bar>

</ion-view>
