<ion-view view-title="Go Home">
  <ion-content padding="true" class="has-header gohome">




  <div class="control-panel"><br><br><br><center><h4 style="color: white">What is your destination?</h4></center><br><br><br></div>


  <br>
  <div class="animated slideInUp">
    <a href="#" class="item item-icon-left" ng-click="ready('Choi Hung')">
      <i class="icon ion-android-train"></i>
      Choi Hung
      <span class="badge badge-assertive">{{statistics.chCount}}</span>
    </a>

    <a href="#" class="item item-icon-left" ng-click="ready('Hang Hau')">
      <i class="icon ion-android-train"></i>
      Hang Hau
      <span class="badge badge-assertive">{{statistics.hhCount}}</span>
    </a>

    <a href="#" class="item item-icon-left" ng-click="ready('To Be Confirmed')">
      <i class="icon ion-android-train"></i>
      Any MTR station
    </a>
  </div>



  </ion-content>
</ion-view>