<ion-view title="HKUST RideSharing 2.0">
    <ion-content padding="true" class="has-header has-footer">
        <center><h3>RideSharing - Passenger</h3></center>
        <form>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <button class="button button-balanced button-block" ng-click="signin()">Login</button>
        <div class="button-bar">
            <button class="button button-positive button-outline button-block button-small icon ">Register</button>
            <button class="button button-assertive button-outline button-block button-small">Forget Password</button>
        </div>
    </ion-content>

<ion-footer-bar align-title="left" class="bar-light">

  <h1 class="title">Only for HKUST members</h1>

</ion-footer-bar>
</ion-view>